@import "../../styles/colors.css";

:root {
	--modal-animation-duration-value: 100;
	--modal-animation-duration: var(--modal-animation-duration-value)ms;
	--modal-animation-slide-distance: 200px;
	--modal-background-color: var(--color-gray-dark);
}

:export {
	modal-animation-duration: var(--modal-animation-duration-value);
}

.modal {
	align-items: center;
	background-color: rgba(var(--modal-background-color), 0);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color linear var(--modal-animation-duration);
}

.modal-entering,
.modal-entered {
	background-color: rgba(var(--modal-background-color), 0.4);
}

.modal-exiting {
	background-color: rgba(var(--modal-background-color), 0);
}

.modal-dialog {
	flex: 0 0 auto;
	opacity: 0;
	transform: translate(calc(-1 * var(--modal-animation-slide-distance)));
	transition:
		opacity linear var(--modal-animation-duration),
		transform linear var(--modal-animation-duration);

	@nest
	.modal-entering &,
	.modal-entered & {
		opacity: 1;
		transform: translate(0);
	}

	@nest
	.modal-exiting & {
		opacity: 0;
		transform: translate(var(--modal-animation-slide-distance));
	}
}