@import "../../../styles/colors.css";
@import "../../../styles/fonts.css";
@import "../../../styles/spacing.css";

:root {
	--item-box-shadow-color: var(--color-gray-darkest);
	--item-corner-radius: 3px;
	--item-header-background-color: var(--color-gray-light);
	--item-content-background-color: var(--color-gray-lightest);
	--icon-background-color: var(--color-blue-medium);
	--icon-size: 30px;
}

.forum-list-item {
	background-color: var(--item-header-background-color);
	border-radius: var(--item-corner-radius);
	box-shadow: 1px 1px 4px var(--item-box-shadow-color);
	cursor: pointer;
	overflow: hidden;
	transition: transform linear 0.1s;

	&:not(.last-type) {
		margin-bottom: var(--spacing-tight-extra);
	}

	&:hover {
		transform: scale(0.99);
	}
}

.forum-list-item-link {
	display: block;
}

.forum-list-item-header {
	align-items: center;
	display: flex;
}

.forum-list-item-icon {
	background-color: var(--icon-background-color);
	display: inline-block;
	flex: 0 0 auto;
	height: var(--icon-size);
	width: var(--icon-size);
}

.forum-list-item-name {
	display: inline-block;
	flex: 1 1 auto;
	padding-left: var(--spacing-tight-extra);
}

.forum-list-item-content {
	background-color: var(--item-content-background-color);
	font-size: var(--font-size-smallest);
	padding: var(--spacing-tight);
}