@import "../../styles/colors.css";
@import "../../styles/spacing.css";

:root {
	--header-background-color: var(--color-gray-dark);
	--header-font-color: var(--color-white);
	--header-height: 35px;
	--logo-size: 25px;
	--banner-text-size: 20px;
	--icon-size: 20px;
}

.header-view {
	align-items: center;
	background-color: var(--header-background-color);
	color: var(--header-font-color);
	display: flex;
	flex: 0 0 var(--header-height);
	padding: var(--spacing-tight-extra);
}

.header-view-left-column {
	flex: 1 1 auto;
	margin-right: var(--spacing-tight-extra);
	text-align: left;
}

.header-view-middle-column {
	flex: 2 2 auto;
	margin-right: var(--spacing-tight-extra);
	overflow: hidden;
	text-align: center;
}

.header-view-right-column {
	flex: 1 1 auto;
	min-width: 50px;
	text-align: right;
}

.header-view-logo {
	cursor: pointer;
	height: var(--logo-size);
	width: var(--logo-size);
}

.header-view-banner {
	font-size: var(--banner-text-size);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header-view-button {
	display: inline-block;
	opacity: 1;
	position: relative;
	transition: opacity linear 0.1s;

	&:not(:first-child) {
		margin-left: var(--spacing-tight-extra);
	}
}

.header-view-icon {
	cursor: pointer;
	font-size: var(--icon-size);

	@nest .header-view-button &:hover {
		opacity: 0.9;
	}
}

.user-profile-tooltip {}