.home-view {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.home-view-body {
	display: flex;
	flex: 1 1 auto;
}

.home-view-page-tab {
	padding: 0;

	& > a {
		align-items: center;
		display: inline-flex;
		height: 100%;
		justify-content: center;
		width: 100%;
	}
}