@import "../../styles/defaults.css";

:root {
	--item-box-shadow: var(--default-box-shadow);
}

.post-list {
	box-shadow: var(--item-box-shadow);
}

.post-list-empty-message {
	align-items: center;
	align-self: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}