@import "../../styles/colors.css";
@import "../../styles/spacing.css";
@import "../Button/styles.css";

:root {
	--page-bar-border-radius: 4px;
	--page-bar-button-padding: var(--spacing-tight);
	--page-bar-button-width: 60px;

	/* Colors */
	--page-bar-button-background-color: var(--action-button-background-color);
	--page-bar-button-background-color-disabled: var(--action-button-background-color-disabled);
	--page-bar-button-background-color-hover: var(--action-button-background-color-hover);
	--page-bar-button-border-color: var(--color-white);
	--page-bar-button-text-color: var(--action-button-text-color);
	--page-bar-button-text-color-disabled: var(--action-button-text-color-disabled);
}

.page-bar {
	text-align: center;
}

.page-bar-button {
	background-color: var(--page-bar-button-background-color);
	border: none;
	color: var(--page-bar-button-text-color);
	cursor: pointer;
	display: inline-block;
	min-width: var(--page-bar-button-width);
	padding: var(--page-bar-button-padding);
	text-align: center;

	&:hover {
		background-color: var(--page-bar-button-background-color-hover);
	}

	&:active, &:focus {
		outline: none;
	}

	&:not(:last-child) {
		border-right: 1px solid rgba(var(--page-bar-button-border-color), 0.4);
	}

	&[disabled] {
		background-color: var(--page-bar-button-background-color-disabled);
		color: var(--page-bar-button-text-color-disabled);
		cursor: default;

		&:hover {
			background-color: var(--page-bar-button-background-color-disabled);
		}
	}
}

.page-bar-back {
	border-radius: var(--page-bar-border-radius) 0 0 var(--page-bar-border-radius);
	composes: page-bar-button;
}

.page-bar-current {
	composes: page-bar-button;
}

.page-bar-next {
	border-radius: 0 var(--page-bar-border-radius) var(--page-bar-border-radius) 0;
	composes: page-bar-button;
}

.page-bar-input {
	text-align: right;
}