@import "../styles/colors.css";
@import "../styles/defaults.css";

* {
	box-sizing: border-box;
}

body {
	bottom: 0;
	color: var(--default-font-color);
	font-family: var(--default-font-family);
	font-size: var(--default-font-size);
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
}

a {
	color: inherit;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

input, textarea {
	transition: border linear 0.1s;

	&, &::placeholder {
		font-family: var(--default-font-family);
	}

	&:hover {
		border: 1px solid var(--color-blue-medium-hover);
	}

	&:focus {
		border: 1px solid var(--color-blue-medium);
		outline: none;
	}

	&::placeholder {
		opacity: 0.4;
	}
}

p {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

:global(#app-root) {
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.app-view {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	overflow-y: auto;
}