@import "../../../styles/colors.css";
@import "../../../styles/defaults.css";
@import "../../../styles/spacing.css";

.new-thread-view {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	padding: var(--spacing-large);
}

.new-thread-login-required {
	composes: login-required;
}

.new-thread-form-container {
	max-width: 850px;
	width: 100%;
}

.new-thread-form {}

.new-thread-form-group {
	display: flex;
	padding: var(--spacing-medium) var(--spacing-tight);
	text-align: center;
}

.new-thread-form-label {
	align-items: center;
	display: inline-flex;
	flex: 0 0 140px;
	font-weight: bold;
	justify-content: flex-start;
	margin-right: var(--spacing-tight);
}

.new-thread-form-input {
	display: inline-block;
	flex: 1 1 auto;
	width: 100%;
}

.new-thread-form-textarea {
	min-height: 200px;
	resize: none;
	width: 100%;
}

.new-thread-post {}

.new-thread-post-item {}

.new-thread-form-error-field {
	composes: error-field;
}

.new-thread-form-footer {
	padding: var(--spacing-medium);
	text-align: right;
}

.new-thread-create-button {
	display: inline-block;
	height: var(--default-button-height);
	position: relative;

	&[disabled] {
		& .new-thread-create-button-text {
			&:not(:only-child) {
				visibility: hidden;
			}
		}
	}
}

.new-thread-error-message {
	composes: error-message;
	display: inline-block;
	margin-right: var(--spacing-tight);
}

.new-thread-create-button-loading {
	color: inherit;
	font-size: 16px;
}