:root {
	/* Blues */
	--color-blue-medium: #4d79ff;
	--color-blue-medium-hover: #668cff;
	--color-blue-light: #b3daff;
	--color-blue-light-hover: #cce6ff;

	/* Grays */
	--color-gray-darkest: #202020;
	--color-gray-dark: #505050;
	--color-gray-dark-hover: #686868;
	--color-gray-light: #e0e0e0;
	--color-gray-light-hover: #ededed;
	--color-gray-lightest: #f1f1f1;
	--color-gray-medium: #c0c0c0;
	--color-gray-medium-hover: #cccccc;

	/* Purples */
	--color-purple-light: #c2c2d6;
	--color-purple-medium: #666699;
	--color-purple-medium-hover: #7575a3;

	/** Reds */
	--color-red-medium: #ff6666;
	--color-red-medium-hover: #ff9999;

	/* Whites */
	--color-white: #ffffff;
}