@import "./colors.css";
@import "./fonts.css";
@import "./spacing.css";

:root {
	--default-box-shadow-color: var(--color-gray-darkest);
	--default-box-shadow: 1px 1px 4px var(--default-box-shadow-color);
	--default-button-height: 40px;
	--default-font-family: Helvetica, Arial, Verdana, sans-serif;
	--default-font-color: var(--color-gray-darkest);
	--default-font-size: var(--font-size-medium);

	/* State colors */
	--color-error: var(--color-red-medium);
	--color-error-hover: var(--color-red-medium-hover);

	/* Z-index layers */
	--z-index-tooltip: 10;
}

.login-required {
	padding: var(--spacing-tight);
}

.error-field {
	color: var(--color-error);

	&, &:focus {
		border-color: var(--color-error);
	}

	&:hover {
		border-color: var(--color-error-hover);
	}

	&::placeholder {
		color: var(--color-error);
	}
}

.error-message {
	color: var(--color-error);
}