@import "../../../styles/colors.css";
@import "../../../styles/spacing.css";

:root {
	--page-bar-section-background-color: var(--color-gray-lightest);
	--page-bar-section-border-color: var(--color-gray-medium);
}

.forum-finder {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.forum-finder-loading {
	font-size: 48px;
}

.forum-finder-empty {}

.forum-finder-list-section {
	height: 100%;
	padding: var(--spacing-tight);
	width: 100%;
}

.forum-finder-footer {
	background-color: var(--page-bar-section-background-color);
	border-top: 1px solid var(--page-bar-section-border-color);
	padding: var(--spacing-tight-extra);
	width: 100%;
}