@import "../../styles/colors.css";

:root {
	--logo-background-color: var(--color-blue-medium);
	--logo-background-color-hover: var(--color-blue-medium-hover);
	--logo-text-color: var(--color-white);
	--logo-font-size: 20px;
	--logo-size: 20px;
}

.app-logo {
	align-items: center;
	background-color: var(--logo-background-color);
	border-radius: 50%;
	color: var(--logo-text-color);
	display: flex;
	font-size: var(--logo-font-size);
	height: var(--logo-size);
	justify-content: center;
	transition: background-color linear 0.3s;
	width: var(--logo-size);

	&:hover {
		background-color: var(--logo-background-color-hover);
	}
}