@import "../../../styles/colors.css";
@import "../../../styles/fonts.css";
@import "../../../styles/spacing.css";

:root {
	--item-box-shadow-color: var(--color-gray-darkest);
	--item-corner-radius: 3px;
	--item-content-background-color: var(--color-gray-lightest);
	--item-height: 60px;
	--item-padding: var(--spacing-medium);
	--icon-background-color: var(--color-blue-medium);
	--icon-height: var(--item-height);
	--icon-width: 30px;
}

.thread-list-item {
	background-color: var(--item-content-background-color);
	border-radius: var(--item-corner-radius);
	box-shadow: 1px 1px 4px var(--item-box-shadow-color);
	cursor: pointer;
	height: var(--item-height);
	overflow: hidden;
	transition: transform linear 0.1s;

	&:not(.last-type) {
		margin-bottom: var(--spacing-tight-extra);
	}

	&:hover {
		transform: scale(0.995);
	}
}

.thread-list-item-link {
	display: block;
	height: 100%;
	width: 100%;
}

.thread-list-item-content {
	display: flex;
	height: 100%;
}

.thread-list-item-icon {
	background-color: var(--icon-background-color);
	display: inline-block;
	flex: 0 0 auto;
	height: var(--icon-height);
	width: var(--icon-width);
}

.thread-list-item-summary {
	display: inline-flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	padding-left: var(--item-padding);
}

.thread-list-item-name {}

.thread-list-item-author {
	font-size: var(--font-size-smallest);
	margin-top: var(--spacing-tight-extra);
}

.thread-list-item-last-post {
	align-items: flex-end;
	background-color: var(--color-gray-medium);
	color: var(--color-white);
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: column;
	font-size: var(--font-size-smallest);
	padding: 0 var(--item-padding);
}

.thread-list-item-last-post-by {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
}

.thread-list-item-last-post-on {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
}