@import "../../styles/colors.css";
@import "../../styles/defaults.css";
@import "../../styles/spacing.css";

:root {
	--reprimand-list-box-shadow: var(--default-box-shadow);
	--reprimand-list-layer-loading: 10;
	--reprimand-list-padding: var(--spacing-medium);

	/* Header */
	--reprimand-list-header-background-color: var(--color-gray-light);
	--reprimand-list-header-icon-color: var(--color-gray-dark);
	--reprimand-list-header-icon-color-hover: var(--color-gray-dark-hover);

	/* Body */
	--reprimand-list-body-background-color: var(--color-gray-lightest);
}

.reprimand-list {
	box-shadow: var(--reprimand-list-box-shadow);
	position: relative;
}

.reprimand-list-header {
	background-color: var(--reprimand-list-header-background-color);
	display: flex;
	padding: var(--reprimand-list-padding);
}

.reprimand-list-loading {
	font-size: 24px;
	z-index: var(--reprimand-list-layer-loading);
}

.reprimand-list-header-title {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}

.reprimand-list-header-icon {
	color: var(--reprimand-list-header-icon-color);
	cursor: pointer;
	flex: 0 0 auto;
	font-size: 20px;
	text-align: right;
	transform: scaleY(1);
	transition: transform linear 0.1s;

	&:hover {
		color: var(--reprimand-list-header-icon-color-hover);
	}

	&:only-child {
		flex: 1 1 auto;
	}
}

.reprimand-list-header-icon-expanded {
	transform: scaleY(-1);
}

.reprimand-list-body {
	background-color: var(--reprimand-list-body-background-color);
	overflow: hidden;
	padding: 0;
}

.reprimand-list-empty-message,
.reprimand-list-items {
	max-height: 0;
	padding: 0;
	transition:
		max-height linear 0.2s,
		padding linear 0.2s;
}

.reprimand-list-empty-message {
	text-align: center;

	@nest .reprimand-list-body-expanded & {
		max-height: 40px;
		padding: var(--spacing-tight);
	}
}

.reprimand-list-items {
	overflow-y: auto;

	@nest .reprimand-list-body-expanded & {
		max-height: 200px;
	}
}