@import "../../../styles/colors.css";
@import "../../../styles/spacing.css";

:root {
	--field-border-color: var(--color-gray-light);
	--field-border-radius: 3px;
	--field-padding: var(--spacing-tight-extra);
}

.input, .textarea {
	border: 1px solid var(--field-border-color);
	border-radius: var(--field-border-radius);
	padding: var(--field-padding);
}