@import "../../../styles/colors.css";
@import "../../../styles/fonts.css";
@import "../../../styles/spacing.css";

:root {
	--item-border-color: var(--color-gray-medium);
}

.reprimand-list-item {
	padding: var(--spacing-tight);

	&:not(:last-child) {
		border-bottom: 1px solid var(--item-border-color);
	}
}

.reprimand-list-item-reason {
	margin-bottom: var(--spacing-tight);
}

.reprimand-list-item-footer {
	color: var(--color-gray-dark);
	display: flex;
	font-size: var(--font-size-smallest);
}

.reprimand-list-item-assigned-on {
	flex: 1 1 auto;
}

.reprimand-list-item-expires-on {
	flex: 1 1 auto;
	text-align: right;
}