@import "../../styles/colors.css";

:root {
	--loading-spinner-color: var(--color-gray-darkest);
	--loading-spinner-size: 48px;
}

.loading-icon {
	color: var(--loading-spinner-color);
	font-size: var(--loading-spinner-size);
}

.loading {
	align-items: center;
	bottom: 0;
	color: var(--loading-spinner-color);
	display: flex;
	flex-direction: column;
	font-size: var(--loading-spinner-size);
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	& > .loading-icon {
		color: inherit;
		font-size: inherit;
	}
}