@import "../../styles/spacing.css";

.login-view {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.login-form-container {}

.login-form {}

.login-form-group {
	display: flex;
	padding: var(--spacing-tight);
}

.login-form-label {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	margin-right: var(--spacing-tight);
}

.login-form-footer {
	display: flex;
	justify-content: flex-end;
	padding: var(--spacing-tight);
}

.login-button {}