@import "../../styles/colors.css";
@import "../../styles/defaults.css";
@import "../../styles/spacing.css";

:root {
	/* Base */
	--button-corner-radius: 5px;
	--button-height: 35px;
	--button-padding: var(--spacing-tight-extra);
	--button-width: 60px;

	/* Action Button */
	--action-button-background-color: var(--color-purple-medium);
	--action-button-background-color-disabled: var(--color-purple-light);
	--action-button-background-color-hover: var(--color-purple-medium-hover);
	--action-button-text-color: var(--color-white);
	--action-button-text-color-disabled: var(--color-white);

	/* Confirm Button */
	--confirm-button-background-color: var(--action-button-background-color);
	--confirm-button-background-color-disabled: var(--action-button-background-color-disabled);
	--confirm-button-background-color-hover: var(--action-button-background-color-hover);
	--confirm-button-text-color: var(--action-button-text-color);
	--confirm-button-text-color-disabled: var(--action-button-text-color-disabled);

	/* Cancel Button */
	--cancel-button-background-color: var(--color-gray-light);
	--cancel-button-background-color-hover: var(--color-gray-light-hover);
	--cancel-button-text-color: var(--default-font-color);
}

.button {
	border: none;
	border-radius: var(--button-corner-radius);
	cursor: pointer;
	height: var(--button-height);
	min-width: var(--button-width);
	overflow: hidden;
	padding: var(--button-padding);
	position: relative;
	text-overflow: ellipsis;
	transition:
		background-color linear 0.2s,
		color linear 0.2s;
	white-space: nowrap;

	&:focus {
		outline: none;
	}
}

.button-disabled-mask {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.action-button {
	background-color: var(--action-button-background-color);
	color: var(--action-button-text-color);

	&:hover {
		background-color: var(--action-button-background-color-hover);
	}

	&[disabled] {
		background-color: var(--action-button-background-color-disabled);
		color: var(--action-button-text-color-disabled);
		cursor: default;

		&:hover {
			background-color: var(--action-button-background-color-disabled);
		}
	}
}

.confirm-button {
	background-color: var(--confirm-button-background-color);
	color: var(--confirm-button-text-color);

	&:hover {
		background-color: var(--confirm-button-background-color-hover);
	}

	&[disabled] {
		background-color: var(--confirm-button-background-color-disabled);
		color: var(--confirm-button-text-color-disabled);
		cursor: default;

		&:hover {
			background-color: var(--confirm-button-background-color-disabled);
		}
	}
}

.cancel-button {
	background-color: var(--cancel-button-background-color);
	color: var(--cancel-button-text-color);

	&:hover {
		background-color: var(--cancel-button-background-color-hover);
	}
}

.tooltip-button {
	background-color: transparent;
	border-radius: 0;
	height: auto;
	min-width: auto;
	overflow: visible;
	padding: var(--spacing-medium);
	text-align: center;
	width: 100%;

	&:hover {
		background-color: var(--cancel-button-background-color-hover);
	}
}