@import "../../../styles/colors.css";
@import "../../../styles/defaults.css";
@import "../../../styles/spacing.css";

.new-post-view {
	flex: 1 1 auto;
	padding: var(--spacing-medium);
}

.new-post-message-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.new-post-login-required {
	composes: login-required;
}

.new-post-list {
	border-bottom: 1px solid var(--color-gray-medium);
}

.new-post-list-item {}

.new-post-form-container {}

.new-post-form {}

.new-post-form-group {
	text-align: center;
}

.new-post-form-input {
	min-height: 200px;
	resize: none;
	width: 100%;
}

.new-post-form-error-field {
	composes: error-field;
	margin-bottom: var(--spacing-tight);
}

.new-post-form-error-message {
	composes: error-message;
	text-align: left;
}

.new-post-form-footer {
	padding: var(--spacing-tight);
	text-align: right;
}

.new-post-button {
	height: var(--default-button-height);
	position: relative;

	&[disabled] {
		& .new-post-button-text {
			&:not(:only-child) {
				visibility: hidden;
			}
		}
	}
}

.new-post-button-loading {
	color: inherit;
	font-size: 16px;
}