@import "../../styles/colors.css";
@import "../../styles/spacing.css";

:root {
	--form-field-label-spacing: var(--spacing-tight);
	--form-field-bottom-margin: var(--spacing-tight);
	--form-error-text-color: var(--color-red-medium);
}

.form {}

.form-field {
	display: flex;

	@nest .form &:not(:last-child) {
		margin-bottom: var(--form-field-bottom-margin);
	}
}

.form-field-label {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	margin-right: var(--form-field-label-spacing);
}

.form-field-control {
	flex: 1 1 auto;
	text-align: right;
}

.form-error {
	color: var(--form-error-text-color);
}