@import "../../../styles/colors.css";
@import "../../../styles/fonts.css";
@import "../../../styles/spacing.css";

:root {
	--item-content-background-color: var(--color-gray-lightest);
	--item-info-background-color: var(--color-blue-light);
	--item-info-padding: var(--spacing-tight-extra);
	--item-info-text-color: var(--color-gray-dark);
	--item-info-width: 150px;
	--item-minimum-height: 150px;
	--icon-background-color: var(--color-blue-medium);
	--icon-height: 45px;
}

.post-list-item {
	background-color: var(--item-info-background-color);
	display: flex;
	min-height: var(--item-minimum-height);
	overflow: hidden;
	transition: transform linear 0.1s;

	&:not(:last-child) {
		border-bottom: 1px solid var(--color-gray-light);
	}
}

.post-list-item-info {
	align-items: center;
	color: var(--item-info-text-color);
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: column;
	width: var(--item-info-width);
}

.post-list-item-icon {
	background-color: var(--icon-background-color);
	display: inline-block;
	flex: 0 0 auto;
	height: var(--icon-height);
	width: 100%;
}

.post-list-item-author {
	display: inline-block;
	flex: 1 1 auto;
	padding: var(--item-info-padding) var(--item-info-padding) 0 var(--item-info-padding);
	text-align: center;
	width: 100%;
}

.post-list-item-author-name {
	border-bottom: 1px solid var(--item-info-text-color);
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.post-list-item-dates {
	display: inline-block;
	flex: 0 0 auto;
	font-size: var(--font-size-smallest);
	padding: 0 var(--item-info-padding) var(--item-info-padding) var(--item-info-padding);
	text-align: center;
	width: 100%;
}

.post-list-item-posted-on,
.post-list-item-edited-on {
	display: inline-block;
	width: auto;
}

.post-list-item-posted-on-icon,
.post-list-item-edited-on-icon {
	margin-right: var(--spacing-tight-extra);
}

.post-list-item-content {
	background-color: var(--item-content-background-color);
	display: inline-flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: var(--spacing-tight);
}