@import "../../styles/colors.css";
@import "../../styles/defaults.css";
@import "../../styles/spacing.css";

:root {
	--profile-avatar-color: var(--color-blue-medium);
	--profile-avatar-size: 75px;
	--profile-padding: var(--spacing-medium);
}

.user-profile {
	text-align: center;
}

.user-profile-summary {
	border-bottom: 1px solid var(--color-gray-light);
	padding: var(--profile-padding);
}

.user-profile-avatar {
	background-color: var(--profile-avatar-color);
	border-radius: 6px;
	height: var(--profile-avatar-size);
	margin: 0 auto var(--spacing-tight) auto;
	width: var(--profile-avatar-size);
}

.user-profile-line {
	&:not(:last-child) {
		margin-bottom: var(--spacing-tight-extra);
	}
}

.user-profile-name {
	composes: user-profile-line;
}

.user-profile-caption {
	composes: user-profile-line;
}

.user-profile-joined-on {
	composes: user-profile-line;
}

.user-profile-location {
	composes: user-profile-line;
}

.user-profile-signature {
	padding: var(--spacing-tight);
}

.user-profile-button-row {
	padding: var(--profile-padding);
	text-align: right;
}

.user-profile-send-pm-button {}