@import "../../../styles/colors.css";

:root {
	--modal-dialog-background-color: var(--color-white);
	--modal-dialog-border-radius: 3px;
}

.modal-dialog {
	background-color: var(--modal-dialog-background-color);
	border-radius: var(--modal-dialog-border-radius);
}