@import "../../styles/colors.css";
@import "../../styles/defaults.css";
@import "../../styles/spacing.css";

:root {
	--arrow-size: 10px;
	--tooltip-arrow-height: 10px;
	--tooltip-arrow-width: 20px;
	--tooltip-background-color: #ffffff;
}

.tooltip {
	position: absolute;
	z-index: var(--z-index-tooltip);
}

.tooltip-bottom {
	top: calc(100% + var(--arrow-size));
}

.tooltip-left {
	left: 0;
}

.tooltip-right {
	right: 0;
}

.tooltip-top {
	bottom: calc(100% + var(--arrow-size))%;
}

.tooltip-arrow {
	height: 0;
	position: absolute;
	width: 0;
}

.tooltip-arrow-bottom {
	border-bottom: var(--tooltip-arrow-height) solid var(--tooltip-background-color);
	border-left: calc(var(--tooltip-arrow-width) / 2) solid transparent;
	border-right: calc(var(--tooltip-arrow-width) / 2) solid transparent;
	top: calc(-1 * var(--tooltip-arrow-height));
}

.tooltip-arrow-left {
	left: 0;
}

.tooltip-arrow-right {
	right: 0;
}

.tooltip-arrow-top {
	border-left: calc(var(--tooltip-arrow-width) / 2) solid transparent;
	border-right: calc(var(--tooltip-arrow-width) / 2) solid transparent;
	border-top: var(--tooltip-arrow-height) solid var(--tooltip-background-color);
	bottom: calc(-1 * var(--tooltip-arrow-height));
}

.tooltip-body {
	background-color: var(--tooltip-background-color);
	border-radius: 3px;
	box-shadow: var(--default-box-shadow);
	color: var(--default-font-color);
	font-size: var(--default-font-size);
	overflow: hidden;
	position: relative;

	@nest .tooltip-left & {
		left: calc(-1 * var(--spacing-tight-extra));
	}

	@nest .tooltip-right & {
		right: calc(-1 * var(--spacing-tight-extra));
	}
}