@import "../../../../styles/colors.css";
@import "../../../../styles/spacing.css";

:root {
	--modal-footer-border-color: var(--color-gray-light);
	--modal-footer-button-margin: var(--spacing-tight-extra);
	--modal-footer-padding: var(--spacing-tight-extra);
}

.modal-footer {
	border-top: 1px solid var(--modal-footer-border-color);
	padding: var(--modal-footer-padding);
	text-align: right;

	& > button:not(:first-child) {
		margin-left: var(--modal-footer-button-margin);
	}
}