@import "../../styles/colors.css";
@import "../../styles/fonts.css";
@import "../../styles/spacing.css";

.error-view {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
}

.error-display {
	flex: 0 0 auto;
	font-size: var(--font-size-large);
}

.error-icon {
	color: var(--color-red-medium);
	display: block;
	font-size: var(--font-size-largest);
	margin-bottom: var(--spacing-medium);
	text-align: center;
}

.error-message {}