@import "../../styles/colors.css";
@import "../../styles/spacing.css";

:root {
	--page-bar-section-background-color: var(--color-gray-lightest);
	--page-bar-section-border-color: var(--color-gray-medium);
}

.forum-view {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	overflow: hidden;
}

.forum-view-error {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}

.forum-view-threads-section {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	overflow-y: auto;
}

.forum-view-threads {
	flex: 1 1 auto;
	padding: var(--spacing-medium);
}

.forum-view-thread {}

.forum-view-footer {
	align-items: flex-start;
	background-color: var(--page-bar-section-background-color);
	border-top: 1px solid var(--page-bar-section-border-color);
	display: flex;
	flex: 0 0 auto;
	padding: var(--spacing-tight-extra);
}

.forum-view-footer-column {
	flex: 1 1 auto;
}

.forum-view-footer-column-left {
	composes: forum-view-footer-column;
	text-align: left;
}

.forum-view-footer-column-middle {
	composes: forum-view-footer-column;
	text-align: center;
}

.forum-view-footer-column-right {
	composes: forum-view-footer-column;
	text-align: right;
}

.forum-view-new-thread-button {
	padding: 0;
}

.forum-view-new-thread-link {
	display: block;
	padding: var(--spacing-tight);
}