@import "../../styles/spacing.css";

:root {
	--user-view-section-margin: var(--spacing-medium);
}

.user-view {
	flex: 1 1 auto;
	padding: var(--spacing-large);
}

.user-view-error {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	height: 100%;
	justify-content: center;
}

.user-view-profile-section {
	margin-bottom: var(--user-view-section-margin);
}

.user-view-probation-section {
	margin-bottom: var(--user-view-section-margin);
}

.user-view-ban-section {}