@import "../../../styles/colors.css";
@import "../../../styles/spacing.css";

:root {
	--tab-background-color: var(--color-gray-light);
	--tab-background-color-hover: var(--color-purple-medium-hover);
	--tab-background-color-selected: var(--color-purple-medium);
	--tab-height: 25px;
	--tab-width: 100px;
}

.page-tab {
	align-items: center;
	background-color: var(--tab-background-color);
	cursor: pointer;
	display: inline-flex;
	height: var(--tab-height);
	justify-content: center;
	padding: var(--spacing-tight);
	transition:
		background-color linear 0.1s,
		color linear 0.1s;
	width: var(--tab-width);

	&:hover {
		background-color: var(--tab-background-color-hover);
		color: var(--color-white);
	}
}

.page-tab-selected {
	background-color: var(--tab-background-color-selected);
	color: var(--color-white);

	&:hover {
		background-color: var(--tab-background-color-selected);
	}
}