@import "../../../styles/colors.css";
@import "../../../styles/fonts.css";
@import "../../../styles/spacing.css";
@import "../../../Components/Button/styles.css";

:root {
	--favorite-forum-list-width: 600px;
}

.dashboard {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}

.dashboard-loading {
	font-size: 48px;
}

.dashboard-content {
	height: 100%;
	width: 100%;
}

.dashboard-favorites-column {
	border-right: 1px solid var(--color-gray-lightest);
	flex: 1 1 34%;
	height: 100%;
	position: relative;
}

.dashboard-favorites {
	height: 100%;
	padding: var(--spacing-medium);
}

.dashboard-favorites-header {
	margin-bottom: var(--spacing-medium);
	margin-top: 0;
	text-align: center;
}

.dashboard-favorites-forum-list {
	margin: 0 auto;
	max-width: var(--favorite-forum-list-width);
}

.dashboard-favorites-forum-list-item {}

.dashboard-favorites-empty {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: var(--spacing-tight);
	text-align: center;
}

.dashboard-favorites-empty-button-row {
	margin-top: var(--spacing-medium);
	text-align: center;
}

.dashboard-favorites-empty-button {
	padding: 0;

	& > a {
		align-items: center;
		display: inline-flex;
		height: 100%;
		justify-content: center;
		padding: var(--button-padding);
		width: 100%;
	}
}

.dashboard-content-column {
	flex: 2 2 66%;
	height: 100%;
	overflow-y: auto;
	padding: var(--spacing-medium);
	position: relative;
}

.dashboard-content-greeting {
	font-size: var(--font-size-large);
	margin-bottom: var(--spacing-tight);
	text-align: center;
}

.dashboard-notices-list {}

.dashboard-notices-list-item {
	border-top: 1px solid var(--color-gray-light);
	font-size: var(--font-size-small);
	padding: var(--spacing-medium) var(--spacing-tight);
}

.dashboard-notices-list-item-header {
	display: flex;
	margin-bottom: var(--spacing-tight);
}

.dashboard-notices-list-item-header-text {
	flex: 1 1 auto;
	font-size: inherit;
	margin-right: var(--spacing-tight);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dashboard-notices-list-item-header-date {
	flex: 0 0 auto;
	text-align: right;
}

.dashboard-notices-list-item-body {}