@import "../../styles/colors.css";
@import "../../styles/defaults.css";

:root {
	--card-background-color: var(--color-gray-lightest);
	--card-box-shadow: var(--default-box-shadow);
	--card-section-border-color: var(--color-gray-light);
	--card-footer-background-color: var(--color-gray-light);
}

.card {
	background-color: var(--card-background-color);
	box-shadow: var(--card-box-shadow);
}

.card-section {
	&:not(:last-child) {
		border-bottom: 1px solid var(--card-section-border-color);
	}
}

.card-footer {
	background-color: var(--card-footer-background-color);
}